/* COULEURS */
:root {
    --color-vert: #A4C08E;
    --color-fond: #F4F4F4;
    --color-grey: #A8A29D;
    --color-black: #1B1C1B;
}

body{
    background-color: var(--color-fond);
    color:#6A6A6A;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h4{
    color: var(--color-vert);
    font-size: 20px;
    margin-bottom: 0;
}

/* nav{
position: fixed;
width: 100%;
} */

h3{
    color: var(--color-vert);
    font-size: 50px;
    font-family: 'Alegrya';
    color: var(--color-black);
    font-style: italic;
}
p, li{
    font-size: 14px;
}
a{
    color: inherit;
    text-decoration: none;
}

#rejoignezNous{
    width: 45%;
}

main,
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

#quoiPlanterContenu h3{
    margin-bottom:0;
}

/*                                  PAGE ACCUEIL                                     */
/* EN-TÊTE */
#blocGaucheEnTete{
    float: left;
    background-image: url(../img/dessin/planseve.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
    width: 100px;
    height: 50px;
}
#blocDroitEnTete p{
    float: right;
}

#connecter{

}

#imageEnTete{
    clear: both;
    width: 100%;
    height: 350px;
    background-image: url("../img/image/banniere3.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

/* BLOC COMPTEURS */
#blocNombres div{
    float: left;
    width: 26%;
    margin-left: 6%;
}
.compteur{
    font-size: xxx-large;
}
.blocCompteur span{
    float: left;
}
.iconeCompteur{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
#iconeArbresPlantes{
    background-image: url("../img/dessin/arbre.png");
}
#iconeBailleurs{
    margin: 9px 5px;
    background-image: url("../img/dessin/bailleur.png");
}
#iconeEntreprises{
    height: 60px;
    width: 74px;
    margin: 6px 5px;
    background-image: url("../img/dessin/entreprise.png");
}
#imageCentrale{
    clear: both;
    width: 100%;
    height: 500px;
    background-image: url("../img/dessin/banniere2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#projetsRealises{
    margin-bottom: 600px;
}

#commentCaMarche{
    margin-bottom: 550px;
}
#avantages{
    margin-bottom: 400px;
}
#carteDeLyon{
    margin-bottom: 600px;
}

.blocPlanteAChoisir{
    width: calc(25% - 25px);
    height: calc(25vw - 25px);
    object-fit: cover;
    margin: 10px;
    transition: all ease .3s;
    border-radius: 4px;
}
.blocPlanteAChoisir:hover{
    background-color: var(--color-vert);
    filter: grayscale(1);
    cursor: pointer;
}

input{
        width: 89%;
}


/* COMMENT ÇA MARCHE */
.blocCommentCaMarche{
    float: left;
    width: 20%;
    margin-left: 5%;
}
.blocCommentCaMarche:nth-child(1){
    margin-left: 0px;
}
.iconeCommentCaMarche{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}
#imageMiseEnRelation{
    background-image: url("../img/dessin/arbre.png");
}
#imagePlantation{
    background-image: url("../img/dessin/plantation.png");
}
#imageSuivi{
    background-image: url("../img/dessin/suivi.png");
}
#imageLabelisation{
    background-image: url("../img/dessin/label.png");
}

/* AVANTAGES */
#avantages{
    clear: both;
    position: relative;
    margin-top: 100px;
}
.blocAvantages{
    float: left;
    width: 14.5%;
    margin-left: 2%;
}
.blocAvantages p{
    text-align: center;
}


.blocAvantages:nth-child(1){
    margin-left: 0;

}

.imageAvantages{
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

#carousel{
    width:50%;
    height: 30px;
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: contain;
    background-image: url(../img/dessin/carousel.png);
}

#imageCO2{
    /* Image manquante */
    background-image: url("../img/dessin/CO2.png");
}
#imageDiminutionChaleur{
    /* Image manquante */
    background-image: url("../img/dessin/moins.png");
}
#imageFoncier{
    /* Image manquante */
    background-image: url("../img/dessin/foncier2.png");
}
#imageCadreDeVie{
    /* Image manquante */
    background-image: url("../img/dessin/good.png");
}
#imageLienSocial{
    /* Image manquante */
    background-image: url("../img/dessin/lien.png");
}
#imageLabelSeve{
    background-image: url("../img/dessin/lab.png");
}

/* PROJETS RÉALISÉS */
#projetsRealises{
    clear: both;
}
#imageProjetsRealises{
    width: 50%;
    height: 400px;
    background-size: cover;
    border-radius: 4px;
    background-image: url("../img/image/mise.jpg");
    float: left;
    margin-right: 50px;
}
#blocDroitProjets{
    width: 45%;
    float: left;
}
#choixArbustes,
#choixArbres{
    display: flex;
    justify-content: center;
    font-size: 25px
}
#choixArbustes p,
#choixArbres p{
        margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
}

 nav{
    margin: 0 30px;
}
 nav p:nth-child(2), nav p:nth-child(3){
    margin:  22px 15px 0 15px;
    transition: all ease .3s;
    cursor: pointer;
}
 nav p:nth-child(2):hover, nav p:nth-child(3):hover{
    color: var(--color-vert);
}
 nav p{
    transition: all ease .3s;

}
 nav p:nth-child(1):hover{
    transition: all ease .3s;

    background-color: var(--color-vert)
}

#boutonEnSavoirPlus{
    margin-left: 21px;
}

#boutonEnSavoirPlus,
#quoiPlanterBoutonParcourir,
#connecter
{
    background-color: var(--color-grey);
    display: inline;
    padding: 8px 25px;
    border-radius:4px;
    color: var(--color-fond);
    font-weight: bold;

}
.boutonCarroussel{
    float: left;
}
/* CARTE DE LYON */
#carteDeLyon{
    clear: both;
}
#imageNiveau1{
    background-image: url("../img/dessin/niveau1.png");
}
#imageNiveau2{
    background-image: url("../img/dessin/niveau2.png");
}
#imageNiveau3{
    background-image: url("../img/dessin/niveau3.png");
}

.imageNiveau{
    background-size: contain;
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#contenuDescription,
#labelImage{
    float: left;
    height: 300px;
    background-image: url(../img/dessin/labelEcrire.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18%;
}
#carteInteractive{
    float: right;
    /* pointer-events: none; */
    width: 80%;
    height: 500px;
}

#quoiPlanterContenu h3{
    color: var(--color-fond);
}

#descriptionProjetRealise h4{
    font-size:40px;
}

td p{
    margin-bottom: 2px;
}

/* <<<<<<< Updated upstream */
#compteurNombreArbresPlantes,
#compteurNombreBailleurs,
#compteurNombreEntreprises{
    font-family: 'Alegreya', serif;
    font-weight:900;
    color:var(--color-vert)
}
#nombreArbresPlantes p:nth-child(1),
#nombreBailleurs p:nth-child(1),
#nombreEntreprises p:nth-child(1){
    font-weight:900;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 10px;
}



#nombreArbresPlantes p:nth-child(2),
#nombreBailleurs p:nth-child(2),
#nombreEntreprises p:nth-child(2){
    margin-top: 0;
    font-size: 10px;
}


#compteurNombreArbresPlantes{

}
/* >>>>>>> Stashed changes */

/* QUOI PLANTER */
#quoiPlanter{
    color: var(--color-fond);
    clear: both;
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-image: url("../img/image/planter.png");
}
#quoiPlanterContenu{
    width: 27%;
    margin-left: 70%;
    padding-top: 50px;
}
#quoiPlanterBoutonParcourir{
    color: white;
}
/* NOUS CONTACTER */
#blocFormulaireContact{
    float: left;
}
#blocPhotoFormulaireContact{
    float: right;
    width: 50%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    background-image: url("../img/image/groupe.png");
}
/* FOOTER */
footer{
    clear: both;
}
footer div{
    float: left;
}
textarea{
        width: 94%;
    height: 58px;
}
#piedDePageCentre{
    margin-left: 25%;
}
#piedDePageDroite{
    margin-left: 25%;
}
#piedDePage{
    width: 100%;
    height: 72px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/dessin/Footer2.png);
}


/*                              PAGE QUOI PLANTER                       */
#cadreGeneral{
    clear: both;
    border: 2px solid var(--color-vert);
}
#categories div{
    cursor: pointer;
    float: left;
    height: 42px;
    width: 50% ;
    border-bottom: var(--color-vert) solid 2px;
    text-align: center;
    /* border: var(--color-vert) solid 2px; */
}
