/* COULEURS */
:root {
    --color-vert: #A4C08E;
    --color-fond: #F4F4F4;
    --color-grey: #A8A29D;
}

body{
    background-color: var(--color-fond);
    color:#6A6A6A;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h4{
    color: var(--color-vert);
    font-size: 20px;
    margin-bottom: 0;
}

h3{
    color: var(--color-vert);
    font-size: 50px;
    font-family: 'Alegrya';
    color: var(--color-grey-fonce);
}
p, li{
    font-size: 14px;
}
a{
    color: inherit;
    text-decoration: none;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

#quoiPlanterContenu h3{
    margin-bottom:0;
}


/*                                  PAGE ACCUEIL                                     */
/* EN-TÊTE */
#blocGaucheEnTete{
    float: left;
}
#blocDroitEnTete p{
    float: right;
}

#connecter{

}

#imageEnTete{
    clear: both;
    width: 100%;
    height: 350px;
    background-image: url("../img/image/entete.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

/* BLOC COMPTEURS */
#blocNombres div{
    float: left;
    width: 26%;
    margin-left: 6%;
}
.compteur{
    font-size: xxx-large;
}
.blocCompteur span{
    float: left;
}
.iconeCompteur{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
#iconeArbresPlantes{
    background-image: url("../img/dessin/arbre.png");
}
#iconeBailleurs{
    background-image: url("../img/dessin/bailleur.png");
}
#iconeEntreprises{
    background-image: url("../img/dessin/entreprise.png");
}
#imageCentrale{
    clear: both;
    width: 100%;
    height: 500px;
    background-image: url("../img/image/miseEnSituation.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* COMMENT ÇA MARCHE */
.blocCommentCaMarche{
    float: left;
    width: 20%;
    margin-left: 5%;
}
.blocCommentCaMarche:nth-child(1){
    margin-left: 0px;
}
.iconeCommentCaMarche{
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: contain;
    display: inline-block;
}
#imageMiseEnRelation{
    background-image: url("../img/dessin/arbre.png");
}
#imagePlantation{
    background-image: url("../img/dessin/plantation.png");
}
#imageSuivi{
    background-image: url("../img/dessin/suivi.png");
}
#imageLabelisation{
    background-image: url("../img/dessin/label.png");
}

/* AVANTAGES */
#avantages{
    clear: both;
}
.blocAvantages{
    float: left;
    width: 14%;
    margin-left: 2%;
}
.imageAvantages{
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}
#imageCO2{
    /* Image manquante */
    background-image: url("../img/dessin/label.png");
}
#imageDiminutionChaleur{
    /* Image manquante */
    background-image: url("../img/dessin/label.png");
}
#imageFoncier{
    /* Image manquante */
    background-image: url("../img/dessin/foncier.png");
}
#imageCadreDeVie{
    /* Image manquante */
    background-image: url("../img/dessin/label.png");
}
#imageLienSocial{
    /* Image manquante */
    background-image: url("../img/dessin/lien.png");
}
#imageLabelSeve{
    /* Image manquante */
    background-image: url("../img/dessin/label.png");
}

/* PROJETS RÉALISÉS */
#projetsRealises{
    clear: both;
}
#imageProjetsRealises{
    width: 50%;
    height: 400px;
    background-size: cover;
    border-radius: 4px;
    background-image: url("../img/image/image.png");
    float: left;
    margin-right: 50px;
}
#blocDroitProjets{
    width: 45%;
    float: left;
}

#enTete nav{
    margin: 0 30px;
}

#enTete nav p:nth-child(2),
#enTete nav p:nth-child(3){
    margin:  22px 15px 0 15px;
    transition: all ease .3s;
    cursor: pointer;
}

#enTete nav p:nth-child(2):hover,
#enTete nav p:nth-child(3):hover{
    color: var(--color-vert);
}

#enTete nav p{
    transition: all ease .3s;

}

#enTete nav p:nth-child(1):hover{
    transition: all ease .3s;

    background-color: var(--color-vert)
}

#boutonEnSavoirPlus,
#quoiPlanterBoutonParcourir,
#connecter
{
    background-color: var(--color-grey);
    display: inline;
    padding: 8px 25px;
    border-radius:4px;
    color: var(--color-fond);
    font-weight: bold;

}
.boutonCarroussel{
    float: left;
}
/* CARTE DE LYON */
#carteDeLyon{
    clear: both;
}
#imageNiveau1{
    background-image: url("../img/dessin/niveau1.png");
}
#imageNiveau2{
    background-image: url("../img/dessin/niveau2.png");
}
#imageNiveau3{
    background-image: url("../img/dessin/niveau3.png");
}

.imageNiveau{
    background-size: contain;
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#contenuDescription{
    float: left;
}
#carteInteractive{
    float: right;
    width: 60vw;;
    height: 500px;
}

td p{
    margin-bottom: 2px;
}

/* <<<<<<< Updated upstream */
#compteurNombreArbresPlantes,
#compteurNombreBailleurs,
#compteurNombreEntreprises{
    font-family: 'Alegreya', serif;
    font-weight:900;
    color:var(--color-vert)
}
#nombreArbresPlantes p:nth-child(1),
#nombreBailleurs p:nth-child(1),
#nombreEntreprises p:nth-child(1){
    font-weight:900;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 10px;
}



#nombreArbresPlantes p:nth-child(2),
#nombreBailleurs p:nth-child(2),
#nombreEntreprises p:nth-child(2){
    margin-top: 0;
    font-size: 8px;
}


#compteurNombreArbresPlantes{

}
/* >>>>>>> Stashed changes */

/* QUOI PLANTER */
#quoiPlanter{
    color: var(--color-fond);
    clear: both;
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-image: url("../img/image/planter.png");
}
#quoiPlanterContenu{
    width: 27%;
    margin-left: 70%;
    padding-top: 50px;
}
#quoiPlanterBoutonParcourir{
    color: white;
}
/* NOUS CONTACTER */
#blocFormulaireContact{
    float: left;
}
#blocPhotoFormulaireContact{
    float: right;
    width: 50%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    background-image: url("../img/image/groupe.png");
}
/* FOOTER */
footer{
    clear: both;
}
footer div{
    float: left;
}
#piedDePageCentre{
    margin-left: 25%;
}
#piedDePageDroite{
    margin-left: 25%;
}


/*                              PAGE QUOI PLANTER                       */
#cadreGeneral{
    clear: both;
}
#categories div{
    float: left;
    width: 40%;
    padding-left: 9%;
    text-align: center;
    border: green solid 2px;
}
.blocPlanteAChoisir{
    width: 15%;
    margin-left: 4%;
    margin-top: 35px;
    background-color: purple;
}
#presentationPlante{
    display: none;
}
#blocAffichePlante{
    float: left;
}
#vousAimerezAussi{
    display: none;
    clear: both;
}
